.carma-rate{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("numbers_background.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    font-size: 2em;
}
.addBut {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.profileBack {
    background-repeat: no-repeat;
}

.homePage {
    background-image: linear-gradient(#69DBFF, white);
}

.carma-rate img {
    width:100%;
}

.carma-box{
    display: flex;
    justify-content: center;
}

.carma{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);

    display: flex;
    justify-content: center;
    align-items: center;
}

.carma img {
    width:100%;
}

.carma:hover,
.carma:active,
.friends-deals:hover,
.friends-deals:active{
    box-shadow: 0 0 15px rgba(0,0,0,0.55);
}


.friends-deals{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}